[2015-10-12 17:30] amitaibu opened #15 "Fix selection handler logic"
Few issues were raised post #7 PR merge, that should be addressed.

[2015-10-12 17:31] amitaibu opened #16 "Add tests for selection handler"

[2015-10-12 17:32] amitaibu opened #17 "Hook OG's complex widget to the selection handler"
@damiankloip I think it's best that @RoySegall continues to work on the selection handler logic/ tests - and maybe you can start tackling the complex widget. We can have a quick skype to go over the task. Sounds ok?

[2015-10-13 11:01] damiankloip commented on #17
@amitaibu this sounds good to me. Yes let's skype about it first. I can do some time tomorrow if that works for you?

[2015-11-17 16:05] amitaibu opened #31 "Remove OgSelection::setAccount/getAccount"
We should change the selection handler's `currentUser` instead.

@damiankloip care to give it a try?

[2015-11-18 08:57] damiankloip commented on #31
@amitaibu sure, I will take a look. The current methods actually just overwrite what's there. It means in the tests we will likely need a bit more work. I'll see how things look.

[2015-11-22 13:40] RoySegall commented on #15
Can we close? Any basic logic relate to the selection handler already been merged.

[2015-11-22 13:40] RoySegall commented on #16
Can we close? Already Merged.

[2015-11-22 13:42] damiankloip commented on #15
:+1:
On 22 Nov 2015 13:40, "Roy Segall" notifications@github.com wrote:

[2015-11-22 13:43] RoySegall opened #34 "Add permission."
At the very basic we need to add API's, which will be a static method on the entity controller, and tests as well.

A follow up PR will handle the access logic as part of `hook_entity_access`(which node and other entities as I recall).

[2015-11-22 18:30] #16 closed, assigned to RoySegall

[2015-11-22 18:30] #15 closed, assigned to RoySegall

[2015-11-24 14:47] mradcliffe opened #39 "createField does not take into account OgFields type"
Should createField take into account the type from OgFields plugin, or should the type be removed from the plugin definition? In Drupal 7, type was an array, and it looks to be just a string in OgFields plugins.

I can hack on this, but probably after #20.

[2015-11-24 17:13] damiankloip commented on #39
Not sure I fully get this. So E.g. `'type' => 'og_membership_reference'` in `AudienceField`, where is that not being used? These plugins return the full definition.

[2015-11-24 18:08] amitaibu commented on #39
Yes, currently the `\Drupal\og\Og::createField` is hardcoded to a field called `OG_AUDIENCE_FIELD`. This method should, like in D7, accept the name of the field as we used to define it in `hook_og_fields_info()` e.g. https://github.com/Gizra/og/blob/7.x-2.x/og.module#L1012

I was actually thinking of tackling this one, but go ahead and do it :)

[2015-11-24 18:09] mradcliffe commented on #39
Sorry the Annotation type.

[code]

[2015-11-24 18:19] amitaibu commented on #39
I went over #20 in more depth, and it's actually taking into account the field name.

@mradcliffe can you clarify what you mean then?

[2015-11-24 19:18] amitaibu commented on #39
@mradcliffe fyi, I'm doing so refactoring to #20.

[2015-11-29 09:08] RoySegall opened #44 "Implements og permission yml service"
I'll start from the basic for the permission initiative(might be a big word for OG scope). I'll start by allow modules to implement MODULE.og_permission.yml for their OG permission like Drupal's core do with user permission.

[2015-11-30 10:00] amitaibu opened #49 "Add test to assert og_entity_access()"

[2015-11-30 11:36] damiankloip commented on #49
@amitaibu can you clarify this one? Because we already have https://github.com/amitaibu/og/blob/8.x-1.x/tests/src/Kernel/Entity/FieldAccessTest.php which is testing this.

You want to add to that?

[2015-11-30 11:37] damiankloip commented on #31
I think we did this: https://github.com/amitaibu/og/pull/33

[2015-11-30 11:37] #31 closed, assigned to nobody

[2015-11-30 11:37] damiankloip commented on #39
Is this now a non-issue due to #20 ? Or does it still need some discussion/action?

[2015-11-30 11:37] amitaibu opened #50 "Deprecate _og_og_permission()"
We need to add the dynamic node related permissions

[2015-11-30 11:39] amitaibu commented on #49
Sorry, meant `og_entity_access`, I'll fix.

[2015-11-30 11:40] amitaibu commented on #39
Should be fixed.

[2015-11-30 11:40] #39 closed, assigned to nobody

[2015-11-30 11:46] damiankloip commented on #49
Phew, makes more sense :)

On 30 November 2015 at 11:39, Amitai Burstein notifications@github.com
wrote:

[2015-11-30 12:15] RoySegall commented on #50
Got you covered in #47

[2015-12-01 23:56] joseaguev opened #55 "Set content type as group option missing"
Hi,

I pulled the og module to a fresh install of Drupal 8.0.0.  I enabled the og and og_ui modules.  I then created a new content type.  However, I don't have the option to set the content type as a "Group".   I did try rebuilding cache with no success.

[2015-12-01 23:59] zerolab commented on #55
I believe #42 is trying to achieve that.

[2015-12-02 12:02] amitaibu opened #57 "Replace FormattableMarkup with sprintf"

[2015-12-02 12:07] damiankloip commented on #57
Or just regular string interpolation if that fits.

[2015-12-02 17:10] damiankloip opened #58 "Fix plugin names for OgFields plugins"
Currently the plugin names in the annotations are using OG_DEFAULT_ACCESS_FIELD and OG_AUDIENCE_FIELD constants, so the actual plugins IDs are 'og_roles_permissions' and 'og_group_ref' respectively. These should not not be using those but just some plugin ID strings. Maybe 'og_access' and 'og_group_audience' ?

[2015-12-02 17:39] damiankloip commented on #55
Yes, this doesn't exist yet in the repo, just a first PR.

[2015-12-03 18:11] pfrenssen opened #62 "Fatal error when saving a group content node"
When I try to submit a group content node I get a fatal error. I'm using a clean 8.1.x install. It happens on both the `standard` and `minimal` install profiles. I'm following the instructions in the README to set up the group type and group audience field but I'm probably just missing a crucial step.

Steps to replicate:
1. Perform a clean install using the minimal or standard profile.
2. Enable

[2015-12-04 18:56] amitaibu opened #66 ""Other groups" input form should not be hardcoded"
Currently the autocomplete type is hardocded. This should be configurable.

[2015-12-06 08:06] RoySegall opened #68 "Move og_ui in to modules subdirectory"
I think a lot of modules keep their sub modules in a subdirectory called `modules`. I think we should go in the same direction for og_ui(for now) and for the upcoming modules.

[2015-12-06 08:09] amitaibu commented on #68
:+1:

[2015-12-06 08:12] damiankloip commented on #68
Totally agree, this is how it is in the 7.x branch too. Just wondering if it can wait until https://github.com/amitaibu/og/pull/40 is done? However, git is clever, so reading with the rename might be smooth...

[2015-12-06 11:53] amitaibu opened #70 "Re-enable checks in og_entity_create_access()"
#51 follow up

Currently due to Drupal core limitations the entity data isn't passed to the hook.

[2015-12-06 11:59] RoySegall opened #71 "OG permission: migrate to config entity."
As always - starting the base.

I'll mimic the way core manage the permission for users: the role entity is a config entity and holds the permission for that role. I'll do the same thing: creating a config entity called `OG role` and add a permission sequence.

This mean we no longer need the OgRolePermissions entity.

[2015-12-06 12:00] amitaibu commented on #66
Just to clarify, here's the UI we have in D7:

![groups_audience___site-install](https://cloud.githubusercontent.com/assets/125707/11613211/b5dfc6b8-9c21-11e5-8794-31ade8ff5e83.jpg)

[2015-12-06 12:11] amitaibu opened #73 "Selected target bundles are not saved"
Follow up of #60.
1. Create a node bundle "school" as group
2. Create a node bundle "class" as group content with target bundle referencing "school"
3. Re-edit `admin/structure/types/manage/class` - "school" isn't selected in the target bundles

[2015-12-06 12:15] amitaibu opened #74 "Don't delete OG audience field"
Follow up on #60

https://github.com/amitaibu/og/pull/60#discussion_r46769540

[2015-12-06 12:19] RoySegall opened #75 "OG UI: Fields manage page"
Back in D7 we had a page to add the fields to bundles and it was very messy and un clear on how to add fields.

I'd like to take this part and create much more clean and easy to use form.

[2015-12-06 12:26] amitaibu commented on #75
Sounds good, but lets finish with OG core first.

[2015-12-06 13:17] amitaibu opened #76 "Allow altering OG permissions"
https://github.com/amitaibu/og/pull/47#issuecomment-162075845

[2015-12-07 06:55] chx commented on #70
Sure but we do not need to do anything. The code already presumes that patch landed.

[2015-12-07 07:04] chx commented on #62
I can reproduce this. I believe this has a lot to do with the field config vs field storage config in https://github.com/amitaibu/og/pull/80 .

[2015-12-07 07:06] chx commented on #75
Isn't this done by og_ui now ? If so, just exclude og fields from the field_ui ? If you want then see `core/lib/Drupal/Core/Field/Plugin/Field/FieldType/CreatedItem.php` `no_ui = TRUE`

[2015-12-07 11:15] chx commented on #62
On more discussion, I have NFI why this happens :) but will investigate tomorrow.

[2015-12-07 11:42] damiankloip commented on #62
See https://github.com/amitaibu/og/pull/81

[2015-12-07 11:53] amitaibu commented on #73
Closed in favor of #80

[2015-12-07 11:53] #73 closed, assigned to nobody

[2015-12-07 18:06] amitaibu commented on #70
Sorry, I meant this part - https://github.com/amitaibu/og/blob/8.x-1.x/og.module#L174-L179

[2015-12-07 20:34] amitaibu opened #84 "WSOD when installing OG for the first time"
From watchdog:

[code]

[2015-12-07 20:37] amitaibu commented on #84
This is blocked by https://www.drupal.org/node/2627852 - I'll add some temporary fail safe.

[2015-12-07 20:43] amitaibu commented on #84
Keeping this issue open until the d.o. issue is committed.

[2015-12-07 20:44] chx commented on #70
So that piece is meaningless as it stands right now because it's an infinite loop. What, exactly, did we want to there?

[2015-12-07 20:45] #84 closed, assigned to amitaibu

[2015-12-07 20:55] amitaibu commented on #70
Some code in #86

[2015-12-07 20:57] damiankloip commented on #84
:+1: :+1:
On 7 Dec 2015 20:45, "Amitai Burstein" notifications@github.com wrote:

[2015-12-07 21:30] amitaibu opened #89 "OG audience field is missing from UI"
Steps:
1. Enable OG
2. [Convert](https://github.com/amitaibu/og#api) bundles to group and group content
3. Add a group
4. Add a group content - group audience field doesn't appear

[2015-12-07 21:32] amitaibu commented on #89
Oh man - form display... Seriously D8! :)

[2015-12-07 21:32] #89 closed, assigned to nobody

[2015-12-08 08:22] amitaibu commented on #76
@damiankloip Is the lack of altering (`hook_permissions_alter`) in D8 core is:

a) It's there Amitai, you just missed it
b) It's a mistake
c) There a good reason which is ______

:smiley:

[2015-12-08 08:30] amitaibu opened #90 "Test node specific logic in og_entity_access()"
(Follow up on #86)

[2015-12-08 08:39] amitaibu commented on #75
That page is useful as it consolidates all the OG related fields, and allows a quick creation of them. But I agree with @RoySegall it has in D7 the worst UX I ever did ;)

[2015-12-08 09:11] damiankloip commented on #76
@amitaibu I'll take option b I guess. Looks like it just doesn't exist (but didn't in D7 either?!). Looks like people do want this thought, see https://www.drupal.org/node/763074

[2015-12-08 11:40] amitaibu commented on #76
Thanks, so I'll go and add this alter - because there doesn't seem to be a good reason why it should not be added.

[2015-12-08 14:23] dawehner commented on #76
In core an alter hook wouldn't really make sense, because on runtime there is no validation whether a permission is correct, so removing elements wouldn't be possible and let's be honest, does someone really care about the title/description of those?

[2015-12-08 14:26] amitaibu commented on #76
It's a valid point.

OG ideology is to follow core and provide the same roles/ permissions mechanism on the groups level rather than on the site-wide level. So for consistency let's keep this approach, and also not provide the alter hook.

We can revisit this later if needed.

[2015-12-08 14:26] #76 closed, assigned to amitaibu

[2015-12-08 14:46] damiankloip commented on #76
This wouldn't need to be executed during runtime. Similar to altering
plugin definitions maybe?

I am totally fine with not adding this though!
On 8 Dec 2015 14:26, "Amitai Burstein" notifications@github.com wrote:

[2015-12-08 14:56] amitaibu commented on #76
Yeah, let's not add for now. It's simpler ;)
On Dec 8, 2015 4:46 PM, "Damian Lee" notifications@github.com wrote:

[2015-12-08 15:10] damiankloip commented on #76
Yep. Can't argue with that. Something that doesn't exist is always easier
to maintain and test :)
On 8 Dec 2015 14:56, "Amitai Burstein" notifications@github.com wrote:

[2015-12-09 10:23] pfrenssen opened #91 "Outline what repo collaborators are allowed to do"
I have recently been given push access to the repo for which I am very grateful. Can we discuss what would be acceptable for collaborators to push without the supervision of @amitaibu?

Some things which would be nice, and are usually not worth it to open separate PR's for:
- Fixing typos.
- Adding documentation.
- Obvious small fixes?

Is it acceptable for us to do this? Shall we open a separate

[2015-12-09 10:28] amitaibu commented on #91
I'd still want to be the one that does the merges - mainly because it will make sure that I can have a final look, and see that things are aligned with OG's concepts.

I've also added a `Ready for review` label, you can add to a PR, or you can assign to me when ready.

With that said, if you see some really stupid typo/ trivial mistakes then I guess a PR that you merge yourself is fine.

[2015-12-09 11:05] #70 closed, assigned to nobody

[2015-12-09 11:09] amitaibu commented on #57
Closed in favor of #92

[2015-12-09 11:09] #57 closed, assigned to amitaibu

[2015-12-09 11:13] amitaibu opened #93 "Port og_group()"
This is probably blocked by smaller PRs, but I'm going to start tackling it, and open smaller PRs as needed.

[2015-12-09 14:07] pfrenssen commented on #62
I can confirm that this is now fixed. Thanks!

[2015-12-09 14:07] #62 closed, assigned to nobody

[2015-12-09 18:19] amitaibu commented on #91
btw, the reason for adding collaborators, is so that you could create the branches under `amitaibu/og` - thus allow others to easily collaborate on the PRs.

I hope it answers the question :)

[2015-12-09 23:04] pfrenssen commented on #91
That clears it up perfectly, thanks!

[2015-12-10 06:30] chx commented on #90
Duplicate of https://github.com/amitaibu/og/issues/49 closing this one.

[2015-12-10 06:30] #90 closed, assigned to chx

[2015-12-13 13:40] RoySegall opened #98 "[Discussion] OgKernelTestBase"
I remember we talked before on create a sub class but we really need in that class? I was think of:
- [ ] Keep all the schemas a simple manifest(sort of) variable
- [ ] Methods to create groups and group content bundles.

Other ideas?

[2015-12-13 20:49] dawehner commented on #98
I'd go with a trait, given that the BrowserTestBase test could profit from it as well

[2015-12-13 20:55] damiankloip commented on #98
Well IMO we will still want a base test class for kernel tests anyway.

Being able to create a group with x user as the owner would be useful too.
On 13 Dec 2015 20:49, "Daniel Wehner" notifications@github.com wrote:

[2015-12-13 20:58] damiankloip commented on #98
Not saying a trait doesn't make sense for a lot of that. Just think we should use both.

[2015-12-16 19:20] amitaibu commented on #91
Meet each other and have a beer together :wink:

![20151216_192524](https://cloud.githubusercontent.com/assets/125707/11851322/71233582-a432-11e5-83aa-bc4682f64572.jpg)

[2015-12-16 21:03] dawehner commented on #91
The beard comes back!
On 16 Dec 2015 8:32 p.m., "Amitai Burstein" notifications@github.com
wrote:

[2015-12-23 07:12] amitaibu opened #106 "Validate valid entity types, bundle and group ID on OgRole set"
Follow up #72

[2015-12-23 09:50] RoySegall opened #107 "[Meta] OgRole tear down initiative"
What we need to do:
- [ ] Validation handle - verify we can't assign a role to a non existing group, verify the permission exists before assign it to the role, verify the entity type and entity bundle exists and defined as group(#106).
- [x] Add field to allow overriding roles and permission.
- [ ] Make sure that each group can override a role and permissions.
- [ ] Alter the general query object

[2015-12-23 13:15] matslats opened #108 "nodes?"
I'm curious as to the reasoning behind a group continuing to be a node type. To me it seems like a natural candidate to be its own contentEntity.
- it is a bit confusing for developers and site builders to deal with group content and groups as content at the same time.
- groups have little need for revisions, sticky, promote, and would probably prefer to define their own properties
- if groups wer

[2015-12-23 13:21] amitaibu commented on #108
It _can_ be a node, the same way it could be any other `ContentEntity`.

Here's an answer I have in another thread:
1. OG7 is already not node-centric, every fieldable entity can be a group/ group content
1. Adding an entity reference already in OG7 is what connects a group content to a group
Groups are more often then not real content. They need to be published/ unpublished, comments, shown along

[2015-12-23 13:21] #108 closed, assigned to nobody

[2015-12-23 13:48] damiankloip commented on #108
As far as I know there is not a restriction on what entity type and bundle
can be a group. In theory this can still be any entity type you like. Where
has the assumption come from? The current access code maybe?

As far as a new entity type goes, this has come up (many times) before and
this has draw backs. You are then limited to one entity type for groups,
but also you would have to make sure th

[2015-12-23 13:57] matslats commented on #108
Thanks for your answers I shall be experimenting with making my own
entityType! Could be valuable testing. Might be willing to submit code
suggestions. I'm good enough at git on drupal.org. been doing d8 full
time for 2 years now. Matthew

On Thu, Dec 24, 2015, at 12:21 AM, Amitai Burstein wrote:

Links:
1. https://github.com/amitaibu/og/issues/108#issuecomment-166892233

[2015-12-23 14:13] damiankloip commented on #108
D8 full time huh? Have you been contributing back to core then? I put a lot
of time into D8!
On 23 Dec 2015 13:57, "Matthew Slater" notifications@github.com wrote:

[2015-12-23 14:32] matslats commented on #108
Only a few bug reports, not patches. I've been working alone on another
major project. http://drupal.org/project/mutual_credit Waiting nearly a
year for OG then I just found the gizra github was abandoned and it was
happening here!

Find out more about my work in local money systems Twitter: @matslats
Personal web site[1] including my blog, Adventures in mutual credit[2]
Brief bio and articles on

[2015-12-23 15:39] matslats opened #109 "bizarre won't install"
When I enable og module on a clean install I get this error which is bizarre because the same code worked a few days ago. How can CREATE TABLE fail because that table is not found?

'SQLSTATE[42S02]: Base table or view not found: 1146 Table 'drupal8.og_role_permission'
doesn't exist: CREATE TABLE {og_role_permission} (
`id` INT unsigned NOT NULL auto_increment COMMENT 'The role permission unique i

[2015-12-24 00:43] matslats commented on #109
Same thing happens to whichever is the first table described in og_schema.

[2015-12-24 02:15] matslats commented on #109
Ok found the problem. MySql had got confused about the existence of those tables, so even when I dropped all tables to reinstall, it retained traces of them

[2015-12-24 02:15] #109 closed, assigned to nobody

[2015-12-25 04:49] matslats opened #110 "Can't edit my own user"
I think I found a bug in \Drupal\og\OgAccess::userAccessEntity line 194
if ($user_access->isAllowed())
the it returns otherwise it is denied.
But if the result is neutral, then it is treated as denied.
So I don't know about caching, but if I had write access I would push this
if (!$user_access->isForbidden()) {
with a note for someone to check whether the neutral case should be cached the same as

[2015-12-25 13:17] matslats opened #111 "DEFAULT_FIELD"
Can I suggest the constant
DEFAULT_FIELD
be renamed to
DEFAULT_OG_FIELD

[2015-12-25 13:19] damiankloip commented on #111
I don't think we need that. The class already has the Og name in, as does the class namespace. We intentionally removed that from the name when we ported it :)

[2015-12-25 13:31] matslats commented on #111
OK I just realised its not a global constant!

[2015-12-25 13:31] #111 closed, assigned to nobody

[2015-12-25 14:21] matslats opened #112 "Entityquery assumes node entity"
in \Drupal\og\Plugin\EntityReferenceSelection\OgSelection::buildEntityQuery line 79
$query->condition('type', $bundles, 'IN');
'type' is assumed to be the bundle key of the node entity.
So the following removes that assumption, starting from line 77

[code]

[2015-12-25 15:03] damiankloip commented on #112
I don't think it's assuming node. More things than node use type. I agree
that should be dynamic though.
On 25 Dec 2015 14:21, "Matthew Slater" notifications@github.com wrote:

[2015-12-25 18:18] amitaibu commented on #112
@matslats  nice catch. Care to create a PR? :)

[2015-12-25 18:23] damiankloip commented on #112
Yeah! The snippet of code in the summary looks just fine.

[2015-12-27 07:43] RoySegall opened #113 "OG field validation"
Before start working on #107 it came to my mind that we need to have validation for OG field. I have a strong feeling we would need this one because three scenarios cross my mind:
1. Trying to create audience field when we don't have any defined group
2. Trying to attach to overrides and permission field to bundle which isn't defined as group.
3. In OG we had group visibility and group content vis

[2015-12-27 07:56] amitaibu commented on #113
I think this can come after the hooking OG roles and permission back to the access.

I think we allow it in D7, since you may add a group after. But I wouldn't mind changing it

[2015-12-28 08:24] amitaibu opened #116 "Special casing OgMembership only to users"
## Background

Currently we are treating all entities the same:
1. A user is connected to a group the same way a node is.
2. All field storage is in fact an OgMembership entity
3. OgMembership is a ContentEntity that has stuff like state (active, pending, blocked)

The reason for doing this, is clear to me, in the sense that we didn't have to special case anything, and have any assumptions.

I thi

[2015-12-28 11:16] matslats opened #117 "whitescreen on admin/people"
Recoverable fatal error: Argument 1 passed to Drupal\og\OgAccess::userAccess() must implement interface Drupal\Core\Entity\EntityInterface, null given, called in /home/matslats/localhost/drupal8/modules/contrib/og/src/OgAccess.php on line 193 and defined in Drupal\og\OgAccess::userAccess() (line 64 of modules/contrib/og/src/OgAccess.php).
trace....
Drupal\og\OgAccess::userAccess(NULL, 'administer

[2015-12-29 14:57] matslats opened #118 "tables in og_install"
I don't understand why og_membership table is still defined in hook_schema, when the entity itself defines the table and differently.
At the moment hook_schema, which is wrong, takes precedence, so the module doesn't install for me unless I comment out the table in hook_schema

[2015-12-29 14:59] #117 closed, assigned to nobody

[2015-12-29 16:30] matslats opened #119 "usability of \Drupal\og\Og::createField"
the method \Drupal\og\Og::createField includes a final argument $settings. This is confusingly named the variable overrides the fieldStorage and field definitions, both of which contain an array called 'settings'
Note as well that the method is mentioned in the README but without the final arg
Might be better to have something like
function createField($plugin_id, $entity_type, $bundle, array $sto

[2015-12-29 17:08] matslats opened #120 "new memberships write wrong group type to table."
in \Drupal\og\Plugin\Field\FieldType\OgMembershipReferenceItemList::
is the line
$membership->setGroupEntityType($this->getFieldDefinition()->getTargetEntityTypeId())
which should be    ->setGroupEntityType($this->getFieldDefinition()->getFieldStorageDefinition()->getSetting('target_type'))
or something tidier.
the meaning of target is different. .the first refers to the entity the field is on, th

[2015-12-30 01:48] matslats opened #121 "implements hook_entity_delete()."
[code]

[2015-12-30 08:21] amitaibu commented on #121
Sorry, not sure what the issue is about here? Should it be a pull request?

[2015-12-30 08:33] matslats commented on #121
I'm not very experienced with git and coworking. I just know enough to maintain modules on drupal.org
This is new code I'm offering. I can't request you to pull it because I was unable to connect via the repository.
To make a pull request would I need to have my own fork?

[2015-12-30 08:36] amitaibu commented on #121
Correct :)

[2015-12-30 08:40] matslats commented on #121
ok I made a fork and am downloading it, hopefully there will be a pull request soon.
Is there a correct way to request to prioritise og_membership exposure to views?

[2015-12-30 08:46] amitaibu commented on #121
Honestly, I feel we are still a bit far from View integration - as we're still laying the foundations.

[2015-12-30 08:48] matslats commented on #120
This whole file seems to have been removed..

[2015-12-30 08:48] #120 closed, assigned to nobody

[2015-12-30 09:29] matslats commented on #121
OK so I think you got my hook_install pull request and I think you accepted it. Now I'm trying to make a second pull request in og.module but the diff produced between amitaibu/og HEAD and my HEAD now includes the first commit as well. I sense I have to pull from your github to my github but I can't see a button

[2015-12-30 09:49] matslats commented on #121
I forked gizra/og there seem too many changes, some of them bad
Should I have forked amitaibu/og?

[2015-12-30 09:51] amitaibu commented on #121
yes, fork `amitaibu/og`

[2015-12-30 10:16] matslats commented on #121
ok I resubmitted the first PR, but I've got the same problem again that if I'm comparing amitaibu head with my head, then I can only make 1 PR at a time.

[2015-12-31 11:06] matslats commented on #112
I need a bit of help creating PRs. I have done one but I have a whole queue here and only know how to push one commit at a time and compare amitai's HEAD with my HEAD

[2015-12-31 11:42] amitaibu commented on #112
@matslats you can create a branch on your repo per issue. Maybe [this](https://help.github.com/articles/using-pull-requests/) can help.

[2015-12-31 15:56] matslats commented on #112
Ah yes I missed the bit about branching the first time. So if I've got 4 changes do I have to make 4 branches locally? That means when I make a local change I put it on a new branch and I can only use one branch at a time!
Can I delete or merge my local branch after I pushed it to git hub and made a diff?
It all seems like if it do it right, it is 5 times more work than copying and pasting and if

[2015-12-31 17:27] matslats opened #123 "OgMembershipReferenceItem constraint"
on \Drupal\og\Plugin\Field\FieldType\OgMembershipReferenceItem the first constraint, ValidReference is causing problems because that constraint expects a list, not an item
I note that the parent has NO constraints on it.
I suppose this constraint was copied from an alpha version of drupal, and may not be needed at all.

[2016-01-03 09:33] RoySegall opened #124 "Fatal errors when trying to create a group"
When I set up a group, just a group without any audeince field or group content defined, I'm getting this error:

For now I comment out `og_entity_insert` logic.

[2016-01-03 15:43] RoySegall commented on #116
So what I did for now is:
- [Removing the custom storage](https://github.com/amitaibu/og/pull/125/files#diff-3fc27bf69b47e26e4c1cbc57d8f7d2b4L33) which will give us normal ER fields. We need to prevent from the ER field to be created for users(`custom_storage => FALSE` for entity type user won't help, there is a fatal error)
- [Prevent from the field to be populated](https://github.com/amitaibu/og

[2016-01-03 16:28] damiankloip commented on #116
The idea sounds workable I think. It makes sense to split the user and
content memberships if users require more things, like statuses. However,
if you wanted to get all content for the groups a user was in, for example,
this could be really painful?

Potentially OgUserMembership and OgContentMembership or something could
work?

I don't really understand that PR, sorry. It doesn't seem to do anyth

[2016-01-03 17:45] amitaibu commented on #116
I agree there are cases where it would require more work. On the other hand, for example, when you delete multiple group content, we won't have to delete their related OgMembership. In the end I think `OgMembership` will become what you would _expect_ it to be.

I thought about it, but this it would be just easier to keep the audience field a "regular" ER field.

My idea is:
- Keep our [fieldType]

[2016-01-03 18:11] damiankloip commented on #116
Ha. Ok :)

So based on that. I think what's I mentioned previously might be the way to
go. We have two field types. The current one becomes the user specific one.
Otherwise we will be in a world of pain trying to case for custom storage
depending on the entity the field is attached to. I can't see that working
very well at all.
On 3 Jan 2016 17:45, "Amitai Burstein" notifications@github.com wrote:

[2016-01-03 19:17] amitaibu commented on #116
Yes, that's indeed a possible way. @RoySegall was experimenting with the idea of keeping it as a single field type.

If we go with two fields, we'll still have to be sure that each one can be attached to the correct entity (i.e. one to `User` only, and the other to all but `User`).

Can you expand a bit more where you see the pains?

[2016-01-03 19:24] damiankloip commented on #116
Well, the code at the moment is assuming custom storage, which it should.
That's what it was designed for. If you try to re use the same field type,
nothing is gained apart from making sure it behaves one way for users and
another way for everything else. That sounds a lot like two field types to
me :) _especially_ as one will not even be dealing with og membership
entities. You would need to chec

[2016-01-04 10:21] pfrenssen commented on #121
@matslats the trick is to make a separate branch for each pull request in your fork. You're probably working in the 8.x-1.x branch in your fork. If you start working on something new, just create a new branch and push that to your fork. Then, when you log in to Github, it will propose to create a new PR for the new branch you have pushed.

[2016-01-04 10:30] matslats commented on #121
thanks @pfrenssen  I'm not going to maintain multiple branches on my machine because I don't have any tech support in case I get into a mess.
I can post patch files in the issue threads or I can submit one PR at a time. Which would be best?

[2016-01-04 10:40] amitaibu commented on #121
I'm affraid patch files won't work as they are not tested by Travis

[2016-01-04 11:07] matslats commented on #121
I don't know what travis does but from now on I'll submit PRs one by
one. So if you accept or reject them sooner you might get more out of
me. There's one pending which has two changes in it because I was still
getting the hang

[2016-01-04 12:59] amitaibu commented on #116
To recap a conversation we had, we will go with two field types:
1. One for user - with OgMembership as storage
2. One for non-user - which just extends ER fields (and possibly adds constraints) with the default ER field storage

[2016-01-04 13:24] RoySegall commented on #116
When [creating](https://github.com/amitaibu/og/blob/32056ad459c6803214c35d3d0d28c03e9b85bcac/src/Plugin/OgFields/AudienceField.php#L41-L41) the audience field the type will be different for each base entity type. Something like:

[code]

Right?

[2016-01-04 13:28] damiankloip commented on #116
I would say maybe we should have two audience field plugins too? one which applies to each type? Then if the user field is added to something it is not meant to, we can just throw an exception rather than just falling back to the other field type?

[2016-01-04 20:06] amitaibu commented on #116
I believe Roy's approach is fine in the sense that implementors can just `createField(AUDIENCE_FIELD...` without needing to care which entity it is -- it will attach the correct field type

no falling back. But I do agree that if you will try to attach the wrong field type (i.e with Field's own API, instead of OG) an exception should be thrown

[2016-01-08 08:52] matslats opened #127 "og_entity_create_access assumes ContentEntityType"
It needs to check if the loaded EntityType is instanceOf ContentEntityType before passing it eventually to the entityFieldManager which throws an error if it receives a ConfigEntityType
The module is generally passing the names of the entity types and bundles so there is no type checking the function arguments.
Also note that EntityManager is deprecated in favour of EntityTypeManager
I've got abou

[2016-01-11 14:16] matslats opened #129 "og_entity_insert assumes membership type to be default when joining new group owner"
I don't know the solution to this one but I think its is a legitimate problem.
Maybe each group type needs to have its own default membership type?
Maybe a group's owner should have a special membership type which prevents them from leaving without nominating a new owner?

[2016-01-18 13:55] matslats commented on #127
This seems to be fixed now. og_entity_create_access now commences with a check for $bundle

[2016-01-18 13:55] #127 closed, assigned to nobody

[2016-01-18 13:59] matslats commented on #123
pull request submitted

[2016-01-18 13:59] #123 closed, assigned to nobody

[2016-01-21 08:29] pfrenssen commented on #124
How did you set up this group? Through the UI, or programmatically? I cannot replicate this.

[2016-01-21 08:30] pfrenssen commented on #112
This was fixed in #132.

[2016-01-21 08:30] #112 closed, assigned to nobody

[2016-01-21 08:50] RoySegall commented on #124
UI. Maybe one of the PR fixed it.

[2016-01-21 08:52] #124 closed, assigned to nobody

[2016-01-21 14:09] pfrenssen opened #141 "Target bundles do not refresh when changing target type"
When you have multiple group types and are configuring a group content type, then the select list for the target bundles does not refresh when you change the target type.
- Configure two different entity types as group types. In my case I configured the "Group" node type to be a group, as well as my custom "Collection" entity.
- Go to admin/structure/types/add.
- Open the OG vertical tab.
- Select

[2016-01-21 17:41] amitaibu commented on #110
Does this still happen? If so, please re-open

[2016-01-21 17:41] #110 closed, assigned to nobody

[2016-01-21 17:41] amitaibu commented on #118
I believe this is solved?

[2016-01-21 17:41] #118 closed, assigned to nobody

[2016-01-21 17:43] amitaibu commented on #91
@damiankloip @chx - tl;dr - collaborators get a free beer (or tea) when I meet them :wink:

[2016-01-21 17:43] #91 closed, assigned to nobody

[2016-01-22 10:22] pfrenssen opened #144 "Make the group audience field visible in the form display"
Currently when a group audience field is added to a group content entity it is hidden in both the form display modes and view display modes.

In the majority of cases site builders will want this field to be showing up in forms, so let's enable it by default.

Code doing this can be found in the `OgComplexWidgetTest::setUp()` from PR #140.

[2016-01-26 08:24] pfrenssen opened #148 "Unify the "Groups audience" and "Other groups" fields for group admins"
Currently when managing group content there are two fields shown to group admins:
- "Groups audience" which can be used to select groups the admin is a member of.
- "Other groups" which can be used to select groups the admin is not a member of.

This seems like a UX problem to me. Why don't we simply show one field, that shows all the groups for admins, and only the groups the user is a member of

[2016-01-26 10:32] amitaibu commented on #148
Yes, there's a good reason :)

As a site admin, I may still have "My groups" - and that a limited list, a required one that expects only a single group via a select widget. But since I'm a privileged user I should be able to select also "Other groups" from a much bigger list via an auto-complete widget.

Each widget will get a different validation.

[2016-01-26 10:32] #148 closed, assigned to nobody

[2016-02-09 12:45] yanniboi opened #150 "OgComplex hardcoded to og:default selection handler"
Not sure if this is relevant to #17.

<h3 id="summary-problem-motivation">Problem/Motivation</h3>

When editing a field of field type OgMembershipReferenceItem (like og_group_ref) if you change the selection handler (for example to an entity reference view) the entity reference field widget (OgComplex) does not use the views selection handler, it is hardcoded to use 'og:default'.

<h3 id="summary-

[2016-02-09 14:34] damiankloip commented on #150
IMO this is fine, I think what you may be looking for is that we allow the selection handler that Og uses are the base query to be configured. Which is currently not allowed by design.

EDIT: To clarify, I am not saying it shouldn't be, just that you can't do it right now.

[2016-02-09 14:41] amitaibu commented on #150
In D7 we do allow people to use their own selection handler, and D8 should follow it as-well

With that said, we should keep people from doing mistakes that could cause data corruption (e.g. referencing  non-group).

[2016-02-09 15:26] andrewbelcher commented on #150
@amitaibu How hard a requirement is it to ensure that you can't end up with data corruption/access issues? Can some of that be left to site builders if we give them information to make the decision/warnings?

Specifically, `OgSelection` will only every work with other selection handlers that extend `DefaultSelection` (as it doesn't do anything until `::buildEntityQuery()`). To get support for hand

[2016-02-09 15:48] chx commented on #107
So where are we with this and how can I help.

[2016-02-09 19:29] andrewbelcher commented on #150
I've created a PR (#151) as I thought some code may help pick apart the issue and see whether my solution would be viable. It's not tested yet - will take a look at making it 'functional' tomorrow...

[2016-02-10 07:16] amitaibu opened #152 "Add OgMembership::setGroup()"
#128 follow up

Instead of setGroupId and setGroupType

[2016-02-10 07:19] amitaibu commented on #107
Now the #128 is in, it means that OgMembership entity will be created only when relating `User` to group. Otherwise it will be a normal entity reference field, with no OgMembership created.

This means, we can now add a (multiple) reference field to OgMemebership that will reference OgRole(s) - and model it closer to how D8's site wide users are related to site wide roles.

[2016-02-10 07:21] chx commented on #107
Can we chat about how can I help this? :)

[2016-02-10 07:22] amitaibu commented on #107
Sure, I'll be online in ~20

[2016-02-10 07:34] amitaibu commented on #107
Going to login, seems I don't even have IRC client on my work computer  :)

[2016-02-10 11:41] andrewbelcher commented on #150
So that is now 'operational'... It's not finished yet, as `OgViewsSelection` doesn't apply the group bundle check or the ID exclusions at the moment. In a simple case, these may both be fine to add in, so can carry on from here if we feel this is a viable/the right approach to take.

My main concern is that what should really be passed on is `::getReferenceableEntities()` and `::validateReferencea

[2016-02-10 13:21] amitaibu commented on #150
What's harder than platinum? ;)

Seriously, I'd like the API level to come with guarantees. A site builder assumes we're not allowing them to screw things up too badly.

Even for an advanced dev, we should allow you to inject your own business logic - but still have those guarantees in place.

The current PR seems a little off. Maybe @damiankloip will have an idea for a better approach, given his

[2016-02-10 14:58] andrewbelcher commented on #150
I'd be interested to hear what you think is a little off in the PR. Is it just grokability or the fundamental approach?

At the moment, I'm not sure there is only a guarantee that the entity wont be a group, but it could still be corrupt in any other sense that other handlers specify...There is nothing in terms of a developer being able to add in their own logic, which could include access or othe

[2016-02-10 17:17] damiankloip commented on #150
I agree with @amitaibu, the PR seems a little on the hacky side. Sorry. It also returns responsibility back to the `Og` class itself. Creates an instance there to get the id to pass into the form element. I don't think that's ideal.

I still think we could do all of this in the `OgDefault` class, but we would use the `alterEntityQuery()` method instead. This is on the `SelectionInterface`, so it c

[2016-02-10 17:24] damiankloip commented on #150
A `hook_views_query_alter` would be problematic without the additional tags and metadata on the query as we would not know anything about the selection handler. We would need that to be able to implement this logic.

[2016-02-11 12:36] pfrenssen commented on #144
Proposed a fix in https://github.com/amitaibu/og/pull/153.

[2016-02-11 14:20] andrewbelcher commented on #150
@damiankloip thanks for taking a look at the code.

I am unsure as to whether `::alterEntityQuery()` will work. Have I misunderstood something?

The implementation of `::alterEntityQuery()` that would be called is on the selection handler added as metadata to the query, which happens in `::buildEntityQuery()`, so if we're continuing to pass that off to the selected plugin, it would be the selected

[2016-02-11 14:55] damiankloip commented on #150
Hmm, yes. This could pose some issues, you're right. That puts a nice clean solution to bed then :)

Although, maybe we could just implement our own alter on the query (`hook_query_entity_reference_alter`) but add our own settings into the handler settings when we create the child instance. We would then be able to use that in the alter hook to implement the logic for both types of selection handl

[2016-02-11 15:06] andrewbelcher commented on #150
Yes, I was thinking that `hook_query_entity_reference_alter()` would allow us to do most things. If we can get core ER/views to pass on some more information to the view, we can also do what we'd need for `ViewsSelection` (or we may be able to do some of it via additional info in `handler_settings`.

Those two things lead me to wondering if we can drop `OgSelection` entirely, but would probably al

[2016-02-11 15:07] pfrenssen commented on #116
I really like the idea of using field storage for the regular use cases, but I think we are making a mistake in hardcoding the custom storage to the User entity. This just goes against the flexibility that is expected of Drupal.

Wouldn't it be better to restore the `member_entity_type` and `member_entity_id` columns, turn the original OgMembership into a base class and have a OgUserMembership ext

[2016-02-11 15:59] andrewbelcher commented on #150
Based on a quick chat with @damiankloip in IRC, I'm going to try putting together some code that moves away from using `OgSelection` as a proxy for selection handlers. This will test the viability of this as an alternative approach and allow us to consider it against other approaches.

He mentioned that @amitaibu had previously talked about wanting to use if for other purposes, so I will keep it i

[2016-02-11 16:31] damiankloip commented on #107
Shame! :bell: :bell: Shame! :)

[2016-02-11 16:38] pfrenssen opened #154 "Fatal error "undefined method IntegerData::isEmpty()" when saving group content"
A fatal error occurs when group content is saved that references a group:

[code]

This is caused by the original validator from the entity reference module being used in `OgStandardReferenceItem`. This is not compatible with the data format of our complex widget.

[2016-02-11 16:39] pfrenssen commented on #154
This was discovered by running the test that is proposed in https://github.com/amitaibu/og/pull/149. This commit fixes the issue: https://github.com/amitaibu/og/commit/8e5b9797549e01a08aaa23ea555bd3b10c8e19e9

[2016-02-11 20:28] amitaibu commented on #116
I'd like to "defend" the reason for special casing `User` - by the circular logic that it's special :)

I mean, it represents a real human, that is a member of a group. That member has states (active, pending, blocked) and according to its roles has access to certain actions.

Yap, I've also encountered this use case sometimes in the past. The way I see it, there are several options:
1. Make it a

[2016-02-12 13:47] pfrenssen commented on #116
I'm fine with this obviously. I simply don't like hardcoding anything now that we are full blown OOP. The field storage is a great solution that will meet the vast majority of use cases.

For any bizarre outside-the-box requirements that require custom storage (like ours) it will be easy enough to copy the code from OgMembership into a custom class and adapt it to whatever is needed.

[2016-02-14 08:43] RoySegall opened #156 "Create role presentation on the og membership"
Now the reference between a user and a group is done via the OG membership entity(#116) due to couple of reasons.

The next step is to create a representation of the user's group's roles. @amitaibu You wanted that this would not be a real field but a property and I can't see a way to do this as a property since the property can't represent one to many referencing.

 One solution I can think of is

[2016-02-21 14:11] RoySegall opened #158 "Hook OG role referencing into the entity access system"
We already talked about it, and I can see, that separating the grouping of a the user and non-user entities to two mechanism is good: User will have the og membership as the binder between the user and the group while entity reference filed will be binder between non-user entities.

after #156 will be merged I, or anybody else, we can hook the user's group permission into `OgAccess::userAccess()`

[2016-03-06 08:30] RoySegall opened #160 "Services - which classes?"
I'm still working on the entity access issue and it's look to me that `OgGroupAudienceHelper` should be defined as a service, no? Maybe projects like OpenScholar or Drupal Commons would like to swap the class with their own implementation.

And then I was thinking - should we replace all the classes into services?

Thoughts?

@chx @amitaibu @pfrenssen @damiankloip ^^

[2016-03-06 08:31] amitaibu commented on #160
Yeah, the idea is that we start as simple hardcoded classes, and then after things stabilise will expose them as services

[2016-03-08 21:22] pfrenssen commented on #144
This has been fixed. Closing.

[2016-03-08 21:22] #144 closed, assigned to nobody

[2016-03-12 13:30] idimopoulos commented on #141
I got the same problem while working my way with og_ui. Now, sorry for my clumsy way, I'm trying to get a hold of the normal way but I am a junior and so, still, the general average of time needed for me to go through the official procedure and to learn the ways is to much to follow it to the end. But since I found a possible solution for my environment I can share a possible patch.

The patch inc

[2016-03-12 14:04] pfrenssen commented on #141
@idimopoulos, what a coincidence, I was just looking into this last evening and came to the same conclusion. I had already forgotten I made this issue, otherwise I would have linked it.

See PR #164

[2016-03-18 07:26] pfrenssen commented on #160
I agree, we can convert most of the functionality that is currently in public static methods into services. Maybe we can keep a number of public static methods in `Og` for commonly used things so they can be used in procedural code such as hook implementations, but they should then be simple wrappers around the service calls.

[2016-03-21 08:20] pfrenssen opened #168 ""Unfork" from Gizra/og"
This was originally forked off from Gizra/og but has since become the main repository. It would be nice if this was "unforked" so we don't always have to dance around the Gizra repository when creating pull requests :)

According to http://stackoverflow.com/questions/29326767/unfork-a-github-fork-without-deleting this is not possible through the UI or API, but can be achieved by contacting the Git

[2016-03-21 08:44] amitaibu commented on #168
I can also move it back to Gizra/og - would that help?

(cc @damiankloip @chx)

[2016-03-21 08:50] damiankloip commented on #168
tbh, I don't care either way. I don't have (or see) any problem using amitaibu/og. It is going to end up here anyway though, so might as well move back. Not sure what dance @pfrenssen is doing, but I just go straight to the current one..

Why do we need to unfork? Let's just merge, or push the 8.x branch directly to gizra/og? This was meant for early development, and that has been done now :)

[2016-03-21 09:45] pfrenssen commented on #168
The problem with moving back is that all current open issues and PRs will stay behind. This is not such a huge deal since the issues and PRs we care about will migrate to Gizra eventually.

@damiankloip The dance I'm doing is this one :) https://www.youtube.com/watch?v=YsDwiwQGtlc

[2016-03-22 14:55] RoySegall commented on #168
I think it's to early. We are in our container and if we go to back to gizra/OG we will have a lot of noise from 7.x-2.x issues.

We should, IMO, un-fork once a couple of core issues will done such as: selection handler and plug the entity access to OG access workflow.

[2016-03-23 10:33] pfrenssen commented on #168
I didn't realize this was intended to be a temporary repo that is going to flow back to Gizra once it is in a somewhat usable state.

[2016-03-30 07:18] pfrenssen commented on #156
We need to support roles in our project. We intend to start working on this in the next sprint which starts on April 15.

@amitaibu can you give some feedback on how you want this to be implemented?

[2016-03-30 07:21] amitaibu commented on #156
Roles are now already in place, so the next think is #158

[2016-03-30 07:57] pfrenssen commented on #156
Great news!!

[2016-03-30 08:00] RoySegall commented on #156
I started working on it in https://github.com/amitaibu/og/pull/159 but for some reason the tests are failing.

@pfrenssen If you want you can try tackle it while i'm working on the selection handler.

[2016-03-31 07:01] pfrenssen commented on #156
Sure, that will be for next sprint. Now the goal is to get #162 in.

[2016-03-31 15:19] pfrenssen opened #169 "Rename `Og::getEntityGroups()` - it only retrieves memberships"
Originally we were using the `OgMembership` entity for both user memberships and group content, but this is no longer the case - we are now using field storage for group content.

This means that the purpose of `Og::getEntityGroups()` has changed. It now only works for users. It would be better to rename this to `Og::getMemberships()` (or `Og::getMembershipsForUser()` to make it _really_ clear).

[2016-03-31 17:46] amitaibu opened #170 "Don't allow changing the group content target type via UI if it has data"
![edit_basic_page_content_type___site-install_and_d8_dev_ _amitai_amitais-macbook-pro_ _zsh_ _103x23_and_facebook](https://cloud.githubusercontent.com/assets/125707/14185216/9869c154-f781-11e5-939e-e71a7bf1d971.jpg)

[2016-03-31 17:54] amitaibu commented on #154
Can we close this?

[2016-03-31 18:00] amitaibu opened #171 "$form_display is hardocded to audience field in \Drupal\og\Og::createField"
We should move this into `\Drupal\og\OgFieldBase` so we could use `\Drupal\og\Og::createField` to generate any og related field.

[2016-03-31 19:10] pfrenssen commented on #154
Oh yeah sure this is probably long fixed.

[2016-03-31 19:10] #154 closed, assigned to nobody

[2016-04-01 18:01] amitaibu opened #174 "Auto add audience field to user when adding audience field to content"
As we have [here](https://github.com/Gizra/og/blob/7.x-2.x/og.module#L639)

[2016-04-01 19:21] amitaibu commented on #171
Closing in favor of #172

[2016-04-01 19:21] #171 closed, assigned to amitaibu

[2016-04-06 06:52] pfrenssen opened #175 "Delete group user roles when a group is deleted"
When a group is deleted, the group user roles should also be deleted.

Ref.  `og_entity_predelete()`:

[code]

[2016-04-06 06:53] pfrenssen commented on #175
This is a followup of #162.

[2016-04-06 06:54] pfrenssen opened #176 "Delete memberships when a group is deleted"
In PR #162 the group content is cleaned up when a group is deleted. We also need to clean up group memberships when this happens.

Ref `og_entity_predelete()`

[2016-04-06 08:53] pfrenssen opened #177 "Clear up confusion about which field storage type is used for users"
We have two types of storage for the group audience field: one for user entities, and one for all other entities. This is decided in `AudienceField::getFieldStorageConfigBaseDefinition()`:

[code]

The above code looks good to me, when the entity type is a user, then the `og_membership_reference`  field type is used. For all other cases the `og_standard_reference` is used.

However when I look at

[2016-04-06 09:37] amitaibu commented on #175
👍

[2016-04-06 10:30] damiankloip commented on #177
Yes, just seems like a mix up. The descriptions just need to be switched I think.

[2016-04-06 15:21] pfrenssen opened #178 "When deleting a group, allow to move orphaned group content to a new group"
This functionality was available in Drupal 7 and still needs to be ported.
- The original test for this is `testMoveOrphans()`.
- The logic of what should happen, [is here](https://github.com/Gizra/og/blob/719d8f459fb16b6916585e7b445a0119a4057b5a/og.module#L1769-L1775)
- And the test makes more sense when you see [this hook](https://github.com/Gizra/og/blob/719d8f459fb16b6916585e7b445a0119a4057b5a

[2016-04-06 17:38] amitaibu commented on #177
`og_standard_reference` isn't very clear.

maybe `og_membership_non_user_reference` and `og_membership_user_reference` would be better?

[2016-04-07 05:40] pfrenssen commented on #169
In an inline comment in #162 @amitaibu suggested to rename this to `Og::getUserEntityGroups()`.

[2016-04-08 12:52] pfrenssen opened #180 "OgComplex::massageFormValues() should not assume the location of the "other groups" field"
In `OgComplex::massageFormValues()` the values of the "other groups" field are appended to the values of the "groups audience" field. This is not implemented correctly. It is currently assumed that the widget is always located in the same location as in the entity edit form, but this is obviously not always true:

[code]

The documentation of the method also indicates that the `$form` parameter do

[2016-04-14 15:04] swentel opened #181 "Migrate implementation"
I'm working on support for migrate - in https://github.com/swentel/og/tree/migrate

I currently have basic settings, node fields, node ancestry and user membership working for D6 (as I'm working on a project to port a pretty big site from D6 to D8) I'm not sure whether I'll be able to write the code for D7 migration, simply because I don't have any setup for that.

Should be able to create a pull

[2016-04-14 16:10] amitaibu commented on #181
That's great @swentel !

I could easily setup a small (but exhaustive) example and send you a DB dump, if you'd be willing to accept it :)

[2016-04-14 16:24] swentel commented on #181
@amitaibu might be an option, although I can't promise anything. Will focus first on the D6 version  as it's relatively more important imo because of D6's status - and because I need it as well :)

[2016-04-14 16:27] amitaibu commented on #181
👍 well, can't blame me for at least trying ;)

[2016-04-14 18:14] amitaibu opened #183 "OgMembership should extend OgMembershipInterface"
Currently it doesn't. And it's weird :)

[2016-05-06 13:50] pfrenssen opened #193 "Make OgRole more robust"
It's currently quite easy to create invalid `OgRole` entities. The only check that currently is implemented is that the group type and bundle should not be empty when creating a new role. It is possible to enter non-existing entities and bundles, or even resaving an existing entity with empty values.

We can make this more bulletproof by doing a couple of additional checks:
- Validate the entity t

[2016-05-08 08:31] RoySegall commented on #181
@amitaibu If we already talking on migration - shouldn't we create in og a submodule "OG example" when we have migration with dummy content like we do in all our projects?

[2016-05-10 09:59] pfrenssen opened #195 "Remove the OG membership reference field"
We now have the `OgMembership` entity to keep track of the groups a user is subscribed to. We no longer need a field to store this data in. Having this data duplicated in two locations makes everything much more complicated and confusing.

[2016-05-11 14:10] pfrenssen commented on #195
We still need this field so users can edit their memberships in their user account form. We are not using the field for storage.

[2016-05-11 14:10] #195 closed, assigned to nobody

[2016-05-11 14:11] pfrenssen commented on #183
This has been fixed in PR #186.

[2016-05-11 14:11] #183 closed, assigned to RoySegall

[2016-05-11 14:21] damiankloip commented on #195
Ha, so that is the path that was chosen when the decision was made to use regular field storage for groups. We went from one storage table for everything to now og_memberships for users and a field for each group content field...

I think maybe you mis-understand the purpose of it a little. We are totally using the field for storage, display, and forms I think. It is just that we store memberships

[2016-05-11 18:22] pfrenssen commented on #195
I'm going to have to take a deeper look at it, I was making the wrong assumption that the field was "the old way" and the OgMembership entity was "the new way".

In our project we don't have the field added to the user entity, and joining and leaving groups works perfectly fine, this was giving me the impression that the field had become completely redundant.

So if the actual memberships are stor

[2016-05-11 18:33] damiankloip commented on #195
The reference field deals with OgMembership entities, no? Unless lots of
other stuff changed since I last looked of course :)
On 11 May 2016 19:23, "Pieter Frenssen" notifications@github.com wrote:

[2016-05-15 22:16] japerry commented on #168
It would also be nice if we can get this code mirrored back into the drupal.org 8.x repo. As it stands, distributions relying on OG 8.x cannot be built on drupal.org

[2016-05-16 05:14] RoySegall commented on #180
Yesterday I managed to process the values from the dyanmic field and the other groups.

[2016-05-16 07:38] amitaibu commented on #168
no problem, I'll push 8.x to d.o. as-well

[2016-05-16 07:38] amitaibu commented on #168
@japerry which means you will owe OG a PR ;)

[2016-05-16 07:39] chx commented on #168
Could we please not do that? Or indicate some big red scary letters it's not ready yet? I really would like to find the time (and I will!) to convert to a service from statics.

[2016-05-16 07:41] amitaibu commented on #168
I was indeed thinking about some scary letters :)

I would also be ok, with waiting a bit more - until we have OG core a bit more solid. I finally got some work time allocated for OG, so I hope this will happen sooner than later..

[2016-05-16 07:44] chx commented on #168
Brief chat on IRC PM ?

[2016-05-16 07:55] amitaibu commented on #195
Everything :) The field's storage _is_ the OgMembership entity when it's attached to a user entity.

If it's a attached to a non-user entity, then the field storage is the default one.

[2016-05-16 10:35] amitaibu opened #199 "OgDeleteOrphansInterface should extend PluginFormInterface"
Looking at image styles, it seems like we have an existing interface for plugins to provide their own forms.

[2016-05-16 10:37] amitaibu commented on #199
Actually it seems it also extends `ConfigurablePluginInterface`

[2016-05-16 10:37] amitaibu commented on #199
cc @pfrenssen

[2016-05-17 09:23] pfrenssen commented on #195
Oh I get it now! Wow this stuff is really great, Drupal 8 is amazing :smile:

[2016-05-17 09:26] amitaibu commented on #195
🏆

[2016-05-17 09:34] pfrenssen commented on #199
Excellent plan! Assigning this to me for the moment so I can keep tabs on it.

[2016-05-18 09:22] amitaibu opened #200 "Consolidate method names when dealing with groups and entity types"
[code]

OgMembership: `setEntityId` -> `setGroupId`

ogRole : `setGroupType` -> `setGroupEntityType`

[2016-05-19 09:03] pfrenssen opened #202 "getGroupsForEntityType() and getAllGroupBundles() do the same thing"
`GroupManager::getGroupsForEntityType()` and `GroupManager::getAllGroupBundles()` do basically the same thing. We should keep one and discard the other.

The implementation of `getAllGroupBundles()` seems less than ideal, it will return all results if a key for a certain entity type is not set. This is intended as a shortcut to check if the passed in entity type ID is empty, but this will unexpect

[2016-05-19 09:16] idimopoulos commented on #202
Hi. I just wanted to add my opinion.
The thing is that for me that am not that familiar with the code and am trying to get into it a bit, the naming of the methods are a bit confusing. I mean, e.g. the name `getAllGroupBundles`, for someone that does not know, means what? group bundles the group references to? bundles that reference to this group? bundles that are this group(?) ? And the other one

[2016-05-19 09:44] pfrenssen commented on #202
I had the same confusion with `getGroupsForEntityType()`: my initial impression was that I could give it a group content entity type and get all groups that are referenced by it.

`getAllGroupBundles()` is clear in my own mind: it simply returns all the existing group bundles. So for example if you have two groups of type node, then it will return an array like this:

[code]

But it would be even

[2016-05-20 11:11] amitaibu opened #205 "Provide a Group content entity"
OG already works with any fieldable entity.
We could take it one step further and provide a `Group` entity so site builders can use it instead of a node which is also a group.

[2016-05-20 16:36] kristiaanvandeneynde commented on #205
This actually made me chuckle: I just got here from your tweet about OG8 and this is the first issue I see in your tracker 😃

But in all seriousness, this is the core idea behind the Group module. I'm definitely not going to ask you to rethink this, as there's an ever so slim chance someone will run OG and Group on the same website. But I do like to point out that the Group module uses that very s

[2016-05-20 17:23] amitaibu commented on #205
Hi, happy to have you on OG issue queue :)

Sure, I have no problem to prefix the entity and have it called `OgGroup`.

Indeed, however in OG it's just a serving suggestion. In fact experience shows (at least in D7 days) that a group has to act also as content more often than not (publish/ unpublished; node access; etc')

[2016-05-20 17:54] kristiaanvandeneynde commented on #205
Sweet, that will save us both head aches when someone does think combining OG and Group is a fun thing to do 😄

Yeah, I've noticed that as well. On the bright side, Deeson's given me time to work on core as an OKR and I've targeted this issue as what I want to work on: https://www.drupal.org/node/777578

I'm about 60% through that and once/if that lands, it would mean grants are available for all

[2016-05-20 17:57] amitaibu commented on #205
You are a brave man! :)

No, just back from DrupalCon Nola...

[2016-05-22 07:41] amitaibu commented on #205
Actually maybe it would make more sense to direct people to use things like [eck](https://www.drupal.org/project/eck) instead.

Closing for now.

[2016-05-22 07:41] #205 closed, assigned to nobody

[2016-05-22 07:49] RoySegall opened #207 "Create 'Group' tab for a group entities"
In D7 in a group node we have a 'Group' tab near the 'Edit' and 'Delete' tabs. This leads us to the administration areas of the group.

[2016-05-22 11:12] amitaibu opened #208 "Allow overriding default roles and permissions"
As in D7 we should have a field to indicate if the group wants to have full power on the roles it has, and the permissions settings.

`/admin/config/group/fields`

![og_field_settings___site-install_ -2](https://cloud.githubusercontent.com/assets/125707/15453648/13856ed8-2027-11e6-97f0-fba5fe751bc7.jpg)

`/node/add/[group]`

![create_group___site-install_](https://cloud.githubusercontent.com/asset

[2016-05-22 11:13] amitaibu commented on #208
I will branch out of #192

[2016-05-22 13:48] pfrenssen opened #210 "GroupManagerTest is using Prophecy incorrectly"
According to the documentation of the Prophecy mocking framework if you do repeated calls to the same method with identical arguments, then the same result will always be returned (see the section [Method prophecies idempotency](https://github.com/phpspec/prophecy/blob/master/README.md#method-prophecies-idempotency)).

In `GroupManagerTest` we are violating this principle repeatedly. We're doing m

[2016-05-22 15:59] pfrenssen commented on #210
Here is an example of how this can be fixed: https://github.com/amitaibu/og/pull/192/commits/58dc2cca84c64e4d5e2653824e88abeb752eb33e

[2016-05-23 06:27] amitaibu commented on #177
Closing in favor of #212

[2016-05-23 06:27] #177 closed, assigned to RoySegall

[2016-05-27 05:55] pfrenssen opened #213 "Giving a user role access to all group content without granting 'administer groups'"
In our project we have a "moderator" role which is intended for content managers. These people are allowed to view, edit and delete all group content. Currently the only way to give them access seems to be to give them the "administer groups" permission, but this will also give them the power to create groups, change roles and permissions etc. This is not desirable, they should only have access to

[2016-05-27 05:59] pfrenssen commented on #213
Hmm actually calling `userAccessEntity()` with the operation 'administer group' seems nonsensical, the only entity operations that exist are 'create', 'update', 'delete' and 'view'.

[2016-05-27 07:36] pfrenssen commented on #213
I have a proposed fix for problem 2 in PR #214.

[2016-05-27 08:27] pfrenssen opened #215 "Random failure in OgComplexWidgetTest::testFields()"
A random failure occurred while testing #214 in https://travis-ci.org/amitaibu/og/builds/133313888

[code]

[2016-05-27 10:28] pfrenssen opened #216 "Trouble exporting roles in config due to magic ID prefixing"
Currently when a new `OgRole` is saved, the role ID gets prefixed with the group entity type ID and the group bundle ID in `OgRole::save()`:

[code]

This however causes problems in install profiles and modules supplying roles in config. Whenever a profile or module is installed, a new OgRole is saved with the ID that is read from the YAML file which will already contain the prefix, causing it to

[2016-05-27 13:15] pfrenssen commented on #216
Maybe instead of calling `setId()` with the role name we can provide a `setName()` method to set it.  Then when saving we can generate the "fully qualified" ID if none has been set. Config can then still use the standard `setId()` method to set the FQID.

[2016-05-29 06:52] amitaibu commented on #216
The advantage of the prefixing is that it also ensures unique roles. Not sure I get your `setName` idea.

[2016-05-29 06:52] amitaibu commented on #215
Yeah, I saw it once as-well :/

[2016-05-30 07:20] pfrenssen commented on #216
The thing we are now setting as the ID is not the ID (which needs to be unique) but it is the role name. So we should not use `setId()` for setting the role name, we should use `setName()` for it. Then when we save the entity:
- If we do not have an ID yet, we can generate a unique ID from concatenating the entity ID, the bundle ID and the role name, thus guaranteeing a unique ID as we have now.
-

[2016-05-31 06:28] amitaibu commented on #216
👍

[2016-06-01 09:51] pfrenssen opened #219 "Provide a per group type cache context for OG roles"
Now that we have OG roles we should also provide a cache context, so that we can cache content that varies for different OG roles.

[2016-06-04 10:10] chx opened #220 "What is a user based entity?"
`OgStandardReferenceItem` has

What on earth is that? I know what's a user entity but what is a user _based_ entity?

[2016-06-06 09:48] amitaibu commented on #220
Seems like a wrong definition. I'll create a PR to fix it

[2016-06-07 09:21] pfrenssen opened #221 "Create a RoleManager service"
Currently the `GroupManager` service is taking up too many responsibilities and has become a little overweight as a result.

We should refactor the methods related to managing roles into a separate `RoleManager` service:
- `createRoles()`
- `getDefaultRoles()`
- `removeRoles()`

[2016-06-07 09:23] pfrenssen commented on #221
@amitaibu, do you think it would be a good idea to create a new "Novice" label and attach it to this issue? If we can identify some low hanging fruit as easy fixes this might help to lure new contributors.

[2016-06-07 09:43] pfrenssen opened #222 "Generate permissions for all entity operations"
Currently we only generate permissions for the standard CRUD operations 'create', 'update', 'view' and 'delete' in `PermissionManager::generateCrudPermissionList()`. Modules can change the available operations for different entity types using `hook_entity_permission()` and `hook_entity_permission_alter()`. This means that the full 4 CRUD operations might not be available, or new operations might b

[2016-06-07 10:00] amitaibu commented on #221
Novice label added!

[2016-06-07 11:49] pfrenssen commented on #221
This is currently blocked by https://github.com/amitaibu/og/pull/192 but that is near completion.

[2016-06-08 07:17] pfrenssen opened #224 "Write an integration test to check access and permissions"
We currently only have some unit tests to test access on entity level. We should provide a full suite of integration tests too so that we can ensure that the access control works correctly. This is very important from a security perspective.

We had a bug recently in the access control that went undiscovered because it wasn't covered by tests: https://github.com/amitaibu/og/pull/214.

[2016-06-08 16:05] pfrenssen commented on #222
I researched this today and this doesn't seem to be possible in core today. Our best bet will be to use the Entity Operations module once it is ported to Drupal 8.

For more information, see https://www.drupal.org/node/2744683#comment-11274521

[2016-06-08 16:09] amitaibu commented on #222
Not a big fan of a hard dependency. So we could add permissions for core
entities, and only if that module exists leverage it. Sounds right?
On Jun 8, 2016 7:05 PM, "Pieter Frenssen" notifications@github.com wrote:

[2016-06-08 17:11] pfrenssen commented on #222
Yes that sounds like a good plan. For the moment I am going to put an alter hook in, so any module can supply support for their own entity operations. My immediate need for this is the OG Menu module, which has a special 'add menu item' operation.

[2016-06-09 13:44] pfrenssen opened #228 "Provide an interface for PermissionManager"
Currently `PermissionManager` doesn't have an interface. Since this is a service that can be injected into other code (for example in `OgAccess`) it should have an interface so it can be swapped out with another implementation.

[2016-06-10 18:08] amitaibu opened #232 "Allow setting a default OgRole as "is_admin""
Currently `\Drupal\og\GroupManager::createPerBundleRoles` doesn't set the `is_admin` flag, which is in #231

Reference: https://github.com/amitaibu/og/pull/225#discussion_r66652371

[2016-06-13 09:18] pfrenssen opened #234 "Rename Og::getUserMemberships() to Og::getMemberships()"
This is a follow-up of #225.

All memberships are for users, so let's rename `Og::getUserMemberships()` to `Og::getMemberships()`. This way it is also consistent with `Og::getMembership()`.

[2016-06-13 12:09] pfrenssen commented on #222
Note that this is a long term plan, this issue is not actionable today. It can only be worked on as soon as support for formalized access control on entity operations is added to Drupal core, or provided by a contrib module such as Entity Operations.

[2016-06-14 20:04] pfrenssen commented on #232
A proposed fix is included in #237.

[2016-06-14 20:04] pfrenssen commented on #216
A proposed fix is included in #237.

[2016-06-17 11:58] #232 closed, assigned to nobody

[2016-06-17 11:58] #216 closed, assigned to nobody

[2016-06-20 17:08] amitaibu opened #242 "Port Og-context module"
@RoySegall @pfrenssen  maybe you can get some poor dev(s) to work on this one in Dev days 😉 . It's a fun module, and with D8's new plugins it can be really cleaned up.

[2016-06-20 17:15] RoySegall commented on #242
Do i smell another plugin type in OG?

[2016-06-20 17:17] amitaibu commented on #242
I think the more plugins we have, the better the module is, no?
Same goes for services and dependency injection. we need more and more!! 😈

[2016-06-21 09:24] pfrenssen commented on #242
This would be really nice to have at this point. My colleague @sandervd already wrote a `ContextProvider` for OG in the D8 port of OG Menu. We are already leveraging this in our project, not only for showing menus from OG Menu, but to generically determine if the page shown belongs to a group.

Here's the code: https://github.com/ec-europa/og_menu/blob/8.x-1.x/src/ContextProvider/OgRouteContext.ph

[2016-06-23 16:40] #234 closed, assigned to nobody

[2016-06-25 08:23] balagan73 opened #244 "Cannot uninstall OG"
I have installed OG 207 branch (forked from 8.x-1.x) on a clean drupal install. I created a content type, marked it as type group. I created no content, then I have deleted the group content type. I ran drush cr, I have uninstalled Organic Groups UI, then I was not able to uninstall OG module, because it says "There is content for the entity type: OG membership". Then I thought I will reinstall th

[2016-06-26 11:33] RoySegall opened #245 "Create an OG example"
Like we have in all the modules I think OG deserves an example module.

This should contain:
- [ ] Two content types of group and group content
- [ ] Two nodes: a group and a group content for that group

Anything else?

@amitaibu Thoughts?

[2016-06-27 11:54] damiankloip commented on #244
what does your og_membership table look like? I suspect you created a group at least maybe?

[2016-06-27 17:30] balagan73 commented on #244
![og_membership](https://cloud.githubusercontent.com/assets/3536805/16389271/7389795e-3c9d-11e6-8815-9f997dd04156.jpg)
Yes, I did, I have enclosed the picture of the table.

[2016-07-06 11:55] idimopoulos opened #246 "Handle special issue 'update group'"
Currently I can see that the permission handling is being built in the upcoming PRs but there is still one thing missing.
While in OgAccess there is a special handling of the 'administer group' permission, there is no special handling for the 'update group' permission.
I added a small two lines fix to workaround this issue which can be found in
https://github.com/ec-europa/og/commit/00978da35e9060

[2016-07-08 10:06] Nyliandis opened #247 "Can't save an existing OgRole"
Hi,
I try to update an existing OgRole but when i save the entity this error is throw :

Error: Class 'Drupal\og\Exception\OgRoleException' not found in /modules/contrib/og/src/Entity/OgRole.php on line 258, referer: admin/config/group/roles/node/structure/manage/node-bundle-member

After ivestigate, i think the save() method try to change the id, although i change it or no.

Have a good day.

[2016-07-10 11:28] RoySegall opened #249 "Add code sniffer to OG"

[2016-07-13 18:51] amitaibu commented on #247
@Nyliandis thanks. Can you provide steps to reproduce. or even better - a PR to fix it? :)

[2016-07-13 18:53] amitaibu commented on #242
Which module is providing this `ContextProvider`?

[2016-07-13 18:54] amitaibu commented on #242
Oh, sorry I see it in core, didn't know about this one.

[2016-07-13 18:57] amitaibu commented on #242
@pfrenssen I wonder if using `ContextProvider` is the right approach given it's a _service_? I would image some kind of an `OgContextResolver` _plugins_

[2016-07-13 18:57] amitaibu commented on #242
(cc @sandervd)

[2016-07-13 19:01] amitaibu commented on #246
Indeed, we discussed it in#240 with @pfrenssen but I think it didn't went in in the end. Care to work on a PR?

[2016-07-13 19:14] amitaibu commented on #249
Please do, it's great.

[2016-07-13 19:17] amitaibu commented on #249
We can also have a local `run_coder.sh` script that will do something like:

[code]

[2016-07-13 19:18] amitaibu commented on #249
or maybe it doesn't make sense that each contrib module will add their own script. Anyway, for now lets go with the travis one.

[2016-07-14 06:54] idimopoulos commented on #246
Yes but since it's your module, I would like to know if you want to have it as a simple check or if your are planning for a generic special permission handler. Right now you only have 2 special permissions ('administer group' and 'update group'). If the module will only have 2 special permissions, it can be handled with two simple checks, the way the 'administer group' permission is being handled

[2016-07-14 07:54] amitaibu commented on #246
Yes, I think we can start with the simple checks to begin with.

[2016-07-14 15:28] idimopoulos commented on #246
@amitaibu sorry if this is too terrible, I'm open for reviews.
PR: https://github.com/amitaibu/og/pull/250

[2016-07-15 18:03] amitaibu commented on #247
Should be fixed here -- https://github.com/amitaibu/og/pull/217#discussion_r70782037

[2016-07-15 18:03] #247 closed, assigned to nobody

[2016-07-16 11:18] RoySegall commented on #249
do you want this as a git hook maybe?

[2016-07-17 16:25] RoySegall commented on #242
In D7 branch we had a context per entity(and not all) such as: user, node, term and comment.

do you think we need to do the same separation in D8? Feel a bit redundant because the entity API has been improved.

[2016-07-19 12:56] pfrenssen commented on #242
Probably not, like the example implementation in OG Menu, that only has one context that is compatible with any entity type.

[2016-07-19 12:57] pfrenssen commented on #242
I'm not familiar with the D7 version of OG Context, what would be an example of 2 different context plugins? I have trouble imagining use cases for these plugins.

[2016-07-19 13:03] amitaibu commented on #242
for example:
- Get context from URL
- Get context from query string
- Get context from the logged in user

[2016-07-19 13:10] pfrenssen commented on #242
Ohh!! I see. Yes, very useful!

[2016-07-19 13:31] pfrenssen commented on #242
We will need this in the next sprint, I can help on this probably somewhere starting next week. We are using the generic context from OG Menu at the moment, but we now need a cache context to use on our blocks that vary by `OgRole`.

If I'm going to work on that cache context I'd rather do it using the context from OG Context than the one from OG Menu.

[2016-07-19 13:45] amitaibu commented on #242
That would of course be perfect.

Indeed, the way I see it there will be an `OgContext` service that will invoke `OgContetxPlugin` plugins which fetch context for the service. And then you can cache it.

[2016-07-19 14:02] RoySegall commented on #242
And I can assume this need to be a service since it would, probably, will be injected to plugins and other services.

[2016-07-19 14:17] pfrenssen commented on #242
Will we be able to order the plugins, and select which one(s) will run?

I haven't thought a lot about it yet, but we need some semi-reliable way to determine the correct group on group content pages that belong to multiple groups. It would be great if you could have two plugins working together to provide the correct group in that case.

For example, we could have a `UrlOgContext` that runs first

[2016-07-19 14:30] amitaibu commented on #242
Yeah, D7 deals with running several plugins,  and finding the best match
(e.g. the one you visited before that we hold in your $session )

On Jul 19, 2016 5:17 PM, "Pieter Frenssen" notifications@github.com wrote:

[2016-07-19 14:32] amitaibu commented on #242
Roy, you probably won't need to inject the service.  The service is in fact
OgContextManager - it invokes the plugins to get their results.

On Jul 19, 2016 5:30 PM, "Amitai Burstein" amitai@gizra.com wrote:

Yeah, D7 deals with running several plugins,  and finding the best match
(e.g. the one you visited before that we hold in your $session )

On Jul 19, 2016 5:17 PM, "Pieter Frenssen" notificat

[2016-07-20 17:24] amitaibu opened #254 "Improve OgMembership Create DX"
We now have:

[code]

but we could improve this (confusingly named) `setEntityId` and `setGroupEntityType` and have `SetGroup($group)` instead. Also those method should get the full object not just the ID:

[code]

[2016-07-20 17:27] amitaibu commented on #254
Also setting the roles can get an array of roles objects not just Ids:

[code]

Would become:

[code]

[2016-07-22 17:23] jhedstrom opened #255 "Class "\Drupal\og_ui\Form\OgPermissionsForm" does not exist"
It is referenced in `og_ui.routing.yml`.

[2016-07-22 17:25] jhedstrom opened #256 "Undefined index when saving group content"
[code]

[2016-07-22 17:27] jhedstrom opened #257 "Class "\Drupal\og_ui\Form\OgRolesForm" does not exist"
Similar to #255, this form class is referenced in `og_ui.routing.yml`.

[2016-07-22 20:16] amitaibu commented on #256
Can you please provide steps to reproduce, as I'm not seeing it.

[2016-07-22 20:24] RoySegall commented on #242
@amitaibu When looking at the D7 version the URL negotiation need entity reference pre populate. There is no D8 version for this module and my next question - which negotiation strategies we need? For now we pulling the group from the current viewed entity. Do you want to pull the membership from the current logged in user for example?

@pfrenssen Do you know any other ways to pull the group? Mayb

[2016-07-22 22:23] jhedstrom commented on #256
Just basic usage (however, I am on `8.2.x` latest)
1. Make `page` nodes to be a group
2. Make `article` nodes to be group content
3. Add a page node, titled `A group`
4. Add an article node, select the page node as the group
5. When saving I see the notice

I verified on a fresh install as I initially had workbench moderation enabled when I first saw this.

Full stack trace:

[code]

[2016-07-23 10:15] #174 closed, assigned to RoySegall

[2016-07-23 10:44] amitaibu commented on #254
I'll take this one.

[2016-07-23 13:05] amitaibu opened #259 "Prevent duplicate OgMembership"
\Drupal\og\Entity\OgMembership::preSave should throw an exception in case the same membership is re-created.

[2016-07-23 17:23] amitaibu commented on #256
Thanks, I'll check.

[2016-07-23 17:29] amitaibu commented on #256
Checked on a clean installation with `8.2.x`. It seems to work fine for me also using a "regular" authenticated user.

But I believe there is something there - so if you can/ want to send me your DB dump (or even better try to debug it 😄 )

[2016-07-23 18:02] #254 closed, assigned to amitaibu

[2016-07-24 20:20] amitaibu opened #262 "Code sniffer should run in own Travis env"
Follow up for #251. Coder shouldn't run on all env - we should have a nicer matrix for that

This can be used as reference -- https://github.com/Gizra/generator-hedley/pull/110/files

/cc @ordavidil

[2016-07-24 20:36] #249 closed, assigned to RoySegall

[2016-07-24 21:32] amitaibu opened #264 "Remove audience fields from users"
I'm still chewing on this idea, but here are some initial thoughts:
## OG7
- We have `OgMembership` all over the place, both for group content and users.
- We have the idea that the field API will dictate what is allowed and what is not. That is, by specifying if the field is required or the field cardinality we would control how many `OgMembersihps` a user can have and of which type.
## OG8

We a

[2016-07-25 07:17] amitaibu commented on #264
Closed in favor of #265

[2016-07-25 07:17] #264 closed, assigned to nobody

[2016-07-25 09:09] pfrenssen commented on #262
Good idea, we should only run it on PHP7 with the latest version of D8. It would also be nice to reorder the matrix to run the PHP7 tests first. Then we get our first test result back quicker.

[2016-07-25 19:40] jhedstrom commented on #256
I'll dig in a bit to see what's going on :)

[2016-07-27 19:20] amitaibu opened #269 "Add OgMembership::access method"
`$membership->access($operation)` will save us getting the user and group out of the membership, just to test them against some operation.

[2016-07-27 19:51] amitaibu opened #270 "Have OgMembership reference groups via entity reference field"
Not sure about it, just an idea.

Currently in `\Drupal\og\Entity\OgMembership::baseFieldDefinitions` we get the reference thank to those fields:

[code]

What if instead of those we had a (configurable) entity reference field?
## Pros
- An entity reference better describes what we really do here - an entity reference.
- When we'll build the OgMembership forms for the admin to add users, we'll get

[2016-07-28 08:53] pfrenssen opened #271 "Replace node_access_strict so it works with all entity types"
In our project we have a 'site moderator' role which can create, edit and delete any group content regardless whether they are a member of the group or not.

It would be ideal to use the `node_access_strict` option for this, but our group content does not only consist of nodes, we are using different entity types.

Can we change `node_access_strict` to something like `strict_access` and don't rest

[2016-07-28 09:13] pfrenssen opened #272 "Move node_access_strict logic into OgAccess"
Currently the `node_access_strict` logic is executed in `og_entity_access()`, meaning that it is not checked when the methods in `OgAccess` are called directly.

There are three public methods which currently return results which completely ignore this mechanism:
- `OgAccess::userAccess()` - not sure if it applies here, since this only deals with groups
- `OgAccess::userAccessGroupContentEntityOpe

[2016-07-28 09:19] idimopoulos commented on #271
Just as a primal thought, since we are handling users in a special way in OG, maybe this option should still exclude users (if they are group content?).

[2016-07-28 15:10] idimopoulos commented on #271
I have done a little testing on this. It seems to work fine for update/delete operations if we do the following

but the create is a bit more tricky as the hooks are called after the access handlers and there is no clue on what is the status till then.
Still, even with this, in our project, we have created some forms so that the user does not create the bundle test through 'node/add/test' but thro

[2016-07-29 12:03] amitaibu commented on #255
I guess we might have deleted this files by accident? I'll have to look :/

[2016-07-29 12:04] amitaibu commented on #255
hmm, I don't see it in #190 either.

@pfrenssen do you happen to remember this? Maybe it was never properly merged?

[2016-07-29 18:15] amitaibu opened #275 "Cannot re-save OgRole"
While working on #274 I saw an error trying to re-save an OgRole. Steps to reproduce is using the helper method from #274:

[code]

We get the error: `Drupal\og\Exception\OgRoleException: The id cannot be changed.` from `og/src/Entity/OgRole.php:258`

/cc @pfrenssen

[2016-07-29 18:33] amitaibu opened #277 "Add validators to entities via Constraints"
Follow up based on https://github.com/amitaibu/og/pull/267#discussion_r72302000

This might apply to other Og related entities as-well (e.g. `OgRole`)

[2016-07-29 18:47] amitaibu commented on #275
@pfrenssen Seems that OgRole::set() is always called from `\Drupal\Core\Config\Entity\ConfigEntityStorage::doSave`, so we shouldn't throw an exception. Not a perfect solution, but we can simply return early without doing any change. Sounds ok?

[2016-07-29 18:48] amitaibu commented on #275
actually, maybe we can check if the value has changed, and then throw an exception. I'll check..

[2016-07-29 18:53] amitaibu commented on #275
Closed in favor of #278

[2016-07-29 18:53] #275 closed, assigned to nobody

[2016-07-29 19:55] jhedstrom commented on #256
I dug into this a bit.

The field config's handler settings by default are missing `field_mode`, which then throws the undefined index notice.

[code]

[2016-07-29 20:44] amitaibu commented on #256
Thanks for digging! The `field_mode` shouldn't be saved in the config, as it's just a switch (with a terrible name) that indicates if we should return the valid groups for "My groups" or "Other Groups". So I'm not sure this config here is the problem.

(btw, Variable name could probably change to something like `$my_groups_results = TRUE`)

[2016-07-29 21:18] amitaibu opened #279 "\Drupal\og\OgAccess::userAccess doesn't take non-members into account"
When we iterate over the user's roles we only take care of the situation they are members. We should explicitly take care also of the `non-member` case.

[2016-07-29 21:23] amitaibu commented on #279
Closed in favor of #280

[2016-07-29 21:23] #279 closed, assigned to amitaibu

[2016-08-02 20:27] amitaibu opened #283 "Allow unsubscribing a pending membership"
`\Drupal\og\OgAccess::userAccess` should check unsubscribe permission even if membership is `pending`

[2016-08-03 20:12] amitaibu opened #284 "Add test to assert OgMembership::getRoles() returns member role"
#268 follow up.

Right now it doesn't which means that in OgAccess::userAccess() we might return wrong permissions.

[2016-08-04 11:04] pfrenssen opened #285 "Implement "Group owner has full access" option"
In D7 we had the option to give full access to the group owner. We should also provide this in the D8 version.

[2016-08-04 22:46] chx opened #287 "Users can't edit themselves"
If you have a `og_membership_reference` field on your users then `Og::isGroupContent($entity_type_id, $bundle_id)` will return `TRUE` because `isGroupAudienceField` treats `OgGroupAudienceHelper::USER_TO_GROUP_REFERENCE_FIELD_TYPE` as audience field and then basically game over. There's nothing in `og_entity_access` which would allow this and so we reach `return AccessResult::forbidden();` at the

[2016-08-04 22:50] #287 closed, assigned to nobody

[2016-08-05 07:33] pfrenssen commented on #283
Do you think there will ever be any more permissions a pending member could have? For example a group could allow pending members to start interacting with a certain section of the group - to introduce themselves to the group for example.

I'm asking because it would be a different implementation:
- If pending member can only be unsubscribing and nothing else, this will be a hard coded switch wher

[2016-08-05 07:43] amitaibu commented on #283
We should take the simple route here and special case just the unsubscribe.
Meaning - hardcoded switch.

On Aug 5, 2016 10:33 AM, "Pieter Frenssen" notifications@github.com wrote:

[2016-08-05 15:55] pfrenssen opened #289 "Roles not saved on OgMembership entity when passing associative array"
There is a bug in `OgMembership::setRoles()` that prevents the roles from being saved when an associative array of roles is passed in. Only when a numerically indexed array of roles is passed in the roles are correctly saved.

For example this currently fails:

[code]

But this works:

[code]

The problem is somewhere around `FieldItemList::filterEmptyItems()` - I did not dig all the way through,

[2016-08-05 15:57] pfrenssen commented on #257
This is being worked on in #196.

[2016-08-05 15:57] pfrenssen commented on #255
This is being worked on in #196.

[2016-08-05 16:02] pfrenssen commented on #255
If I remember correctly the route had already been defined so we could render the options in the UI. The actual form is being implemented in #196.

I was working on this in my spare time but I was blocked on the actual roles not being fully implemented. This is now almost finished (#217 is the last of the 'big' `OgRole` related tickets) so I can continue now where I left off.

I will be sprinting

[2016-08-05 19:59] amitaibu opened #290 "Convert Og to a proper service that extends OgInterface"
This one is mostly coming from my wish not to do so much mocking in the unit tests when calling for example `Og::IsMember()`

If we could have a prophecy of `OgInterface`, it will be much simpler, and remove some [ugly](https://github.com/amitaibu/og/blob/8.x-1.x/tests/src/Unit/OgAccessTestBase.php#L133-L181) parts from the tests.

To still provide a quick access to regular OG functions we could h

[2016-08-05 20:05] amitaibu commented on #290
@pfrenssen sounds right to you? ^^

[2016-08-05 20:16] amitaibu commented on #290
Started work on #291

[2016-08-06 08:15] pfrenssen opened #292 "Move Og::getRole() to OgRole"
We have a convenient static method that allows to retrieve an OgRole by group entity type, bundle and role name: `Og::getRole()`.

This method should be moved out of the `Og` class. It belongs in `OgRole`, because it is closely related to  `OgRole::load()`, 'OgRole::loadMultiple()`and`OgRole::loadByGroupAndName()`.

We should rename it as well, so it starts with `load...()`. Any suggestions for a

[2016-08-06 08:16] pfrenssen commented on #292
Best I can come up with right now is `OgRole::loadByGroupTypeGroupBundleAndName()` but this is a bit :unamused:

[2016-08-06 08:35] pfrenssen opened #293 "Prevent OgMemberships to be created with the 'non-member' and 'member' role"
Currently it is possible to create OgMembership entities in which the user has the 'non-member' role.

We should throw an exception when someone tries to sneak in the `OgRoleInterface::ANONYMOUS` role.

This was suggested by @amitaibu in https://github.com/amitaibu/og/pull/217#discussion_r73567630 but has been split off to a separate ticket.

[2016-08-06 08:45] pfrenssen opened #294 "Provide helper methods to check the membership state"
We could provide some helper methods in `OgMembership` to easily check the membership state. Currently to see for example if a user is blocked we need to do:

[code]

It would be much nicer to be able to do:

[code]
## Scope
1. Provide the following helper methods, and their accompanying tests:
   - `OgMembership::isBlocked()`
   - `OgMembership::isActive()`
   - `OgMembership::isPending()`
2. Rep

[2016-08-06 08:47] pfrenssen commented on #294
@amitaibu do you think this is a good idea? I'm trying to come up with some novice issues in case people want to help during the code sprint in Drupalaton next week.

Also, do you think the naming scheme is ok? It could also be `OgMembership::isBlocked()` etc.

[2016-08-06 08:50] amitaibu commented on #294
Yes, it a nice idea. I would go with the shorter `isBlocked`

[2016-08-06 09:02] pfrenssen commented on #290
I am VERY much in favour of this idea! For me the most important aspect of this is also to move away from the static methods, and relying fully on dependency injection so that our unit tests will be properly able to mock the methods.

It will be a big task though. We might need to split this in smaller PRs.

[code]

For me this is a very good approach. It is easy to use from the procedural side. A

[2016-08-06 09:10] pfrenssen opened #295 "Create a dedicated RoleManager service"
We currently have a number of methods in `GroupManager` which are not actually dealing with groups; they deal with OG roles:
- `::createPerBundleRoles()`
- `::getDefaultRoles()`
- `::getRequiredDefaultRoles()`
- `::removeRoles()`
## Scope
1. Create the `OgRoleManager` service and move the 4 methods in there.
2. Create the `OgRoleManagerInterface` which documents the public methods in the service.

[2016-08-06 09:11] pfrenssen commented on #295
@amitaibu do you agree this would be an improvement? Should it be called `RoleManager` or `OgRoleManager`?

[2016-08-06 09:14] pfrenssen commented on #294
Ok, I'll update the issue summary.

[2016-08-06 10:30] amitaibu commented on #290
I like your suggestion better! - Keeping Og a static class wrapping other services, will also allow us to take it in smaller steps.

So, I could start with a `og.membership_manager` service, that will have all those `::getMemberships` related methods.

[2016-08-06 10:42] amitaibu commented on #295
Sounds great. I think `OgRoleManager` would be better.

[2016-08-06 12:22] pfrenssen commented on #295
Great! I'll update the issue summary.

[2016-08-06 15:22] dakala commented on #295
Hi @pfrenssen

I'd like to help with this issue please

[2016-08-06 18:14] amitaibu opened #296 "Create a dedicated MembershipManager service"
We need to move those methods to the new service:
- getUserGroupIds
- getUserGroups
- getMemberships
- getMembership
- createMembership
- getGroupIds
- getGroups
- getGroupCount
- getGroupContentIds
- isMember
- isMemberPending
- isMemberBlocked

The name MembershipManager is probably not good enough, given we are dealing also with stuff like `getGroups` -- maybe `GroupAssociationManager`?

[2016-08-06 18:15] amitaibu commented on #296
I'm going to do some work here, to make #286 unit tests easier.

[2016-08-07 03:17] dakala commented on #295
Refactor done. Tests not passing yet

[2016-08-07 06:22] pfrenssen commented on #295
@dakala thanks for picking this up! Looking forward to the PR! :)

[2016-08-07 16:24] amitaibu commented on #295
Feel free to open PR even before it's complete - you might earn some early review :)

[2016-08-08 14:22] amitaibu opened #299 "Extend tests with validation blocked members"
In order not to add more to the scope of #297, I've opened a new issue.

We should unit tests more out of the userAccess, given this is such a crucial piece of code.

[2016-08-08 18:41] amitaibu opened #300 "Rename GroupManager to GroupTypeManager"
The current `GroupManager` name might imply other stuff. `GroupTypeManager`, better explains we are dealing with the group types.

[2016-08-09 17:30] pfrenssen opened #302 "Property $entity not defined in BundleFormAlter"
The `$this->entity` property is being populated in `BundleFormAlter::__construct()` but it is not documented.

[2016-08-09 20:02] #296 closed, assigned to amitaibu

[2016-08-12 14:48] golddragon007 commented on #300
Here is the pull request: https://github.com/amitaibu/og/pull/303
I'm at Drupalaton code sprint.

[2016-08-12 15:19] golddragon007 commented on #302
Here is the fix for it: https://github.com/amitaibu/og/pull/304
I'm at Drupalaton code sprint.

[2016-08-13 12:57] pfrenssen opened #305 "Convert BundleFormAlterTest to use the new BrowserTestBase"
`BundleFormAlterTest` still uses the old `\Drupal\simpletest\BrowserTestBase`. This is deprecated, let's convert it to use the new `\Drupal\Tests\BrowserTestBase` instead.

[2016-08-13 13:51] golddragon007 commented on #292
I did it: https://github.com/amitaibu/og/pull/306
I'm at Drupalaton codesprint.

Unfortunately I can't find better name for it, except if we create a 'magic' function which works like the method overload...

[2016-08-17 07:22] amitaibu opened #307 "Move issues/ PRs back to Gizra/og"
It was noted by @japerry the OG's progress is lacking public visibility, which is a shame, since we are having a nice progress.

So I suggest moving back the issues to the [main](https://github.com/Gizra/og) repo. I've already updated the 8.x-1.x there, and created a D.O [dev release](https://www.drupal.org/project/og/releases/8.x-1.x-dev) as-well

This fork can still be used by its collaborators

[2016-08-17 07:23] amitaibu commented on #307
(for the existing PRs - I will of course make sure to push upstream when they are merged)

[2016-08-22 22:37] #307 closed, assigned to nobody

[2016-08-23 03:54] dakala commented on #305
Hi @pfrenssen. Is this what we're after please? Thanks.

[2016-08-23 07:11] #246 closed, assigned to nobody

[2016-08-23 19:06] #305 closed, assigned to nobody

[2016-08-23 19:09] amitaibu commented on #283
For reference: We no longer have the `unsubscribe` permission. Instead we special case it and allow it in the [unsubscribe logic](https://github.com/Gizra/og/blob/02cb66ce93ed710c62dfa87110e41f8c5af0d723/src/Controller/SubscriptionController.php#L160-L178)

[2016-08-23 19:09] #283 closed, assigned to nobody

[2016-08-23 19:10] amitaibu commented on #293
I've updated title to also include the member role. Like in Drupal core, a user isn't saved with the authenticated role -- it's implied by it being a user.

[2016-08-23 19:11] amitaibu commented on #221
This is in https://github.com/Gizra/og/blob/02cb66ce93ed710c62dfa87110e41f8c5af0d723/src/OgRoleManager.php

[2016-08-23 19:11] #221 closed, assigned to nobody

[2016-08-23 19:12] #290 closed, assigned to nobody

[2016-08-23 19:13] amitaibu commented on #224
Sorry, didn't mean to close

[2016-08-23 19:14] amitaibu commented on #270
Lets keep as is.

[2016-08-23 20:06] #300 closed, assigned to nobody

[2016-08-23 22:25] #302 closed, assigned to nobody

[2016-08-23 22:25] #295 closed, assigned to nobody

[2016-08-23 22:27] amitaibu commented on #259
@dakala maybe you'd want to pick this one as your next issue 😄

[2016-08-23 22:32] dakala commented on #259
That's ok. You may assign it me 😄

[2016-09-01 08:53] dakala commented on #294
@pfrenssen, @amitaibu PR for your review please.

[2016-09-07 17:06] #294 closed, assigned to nobody

[2016-09-07 17:07] amitaibu commented on #294
Thanks @dakala! I've also added you to this repo, so you can push your code here, and we can collaborate more easily.

[2016-09-07 19:26] dakala commented on #293
@amitaibu Is this ticket still valid?

[2016-09-07 19:28] dakala commented on #259
@amitaibu This is another one that's should be closed too.

[2016-09-07 19:33] dakala commented on #228
@pfrenssen @amitaibu We've already got PermissionManagerInterface and og.permission_manager service. This should be closed too.

[2016-09-07 19:54] #228 closed, assigned to nobody

[2016-09-07 19:55] amitaibu commented on #228
Thanks. Next time feel free to close.

[2016-09-07 19:55] amitaibu commented on #293
Yeah, you can keep open until your PR will get in.

[2016-09-07 19:56] #259 closed, assigned to nobody

[2016-09-08 10:23] dakala commented on #284
@amitaibu [PR](https://github.com/Gizra/og/pull/166) ready for review

[2016-09-08 12:05] dakala commented on #292
https://github.com/Gizra/og/pull/167 ready for review

[2016-09-08 16:49] amitaibu commented on #289
@nader77 care to check this one out?

[2016-09-08 16:49] amitaibu commented on #289
(i.e. - fix the bug + tests)

[2016-09-08 16:55] nedSaf commented on #289
@amitaibu Sure :)

[2016-09-09 14:16] #292 closed, assigned to nobody

[2016-09-10 16:55] dakala commented on #293
https://github.com/Gizra/og/pull/174

[2016-09-13 19:47] dakala commented on #220
@amitaibu Sorry didn't notice you've assigned this to yourself. The PR's open so you can always review anyway. It's a small fix.

[2016-09-13 20:58] amitaibu commented on #220
Great, thanks for tackling it.

[2016-09-13 20:58] #220 closed, assigned to amitaibu

[2016-09-14 14:33] davidgil opened #312 "Installation instructions in README update"
Hi,

i am trying to install og but seems that installation instructions in README are obsolete. I cannot find in content type administration anything related to "Group type field".

Best
David

[2016-09-15 06:59] #116 closed, assigned to nobody

[2016-09-15 07:00] #207 closed, assigned to nobody

[2016-09-15 07:00] #293 closed, assigned to dakala

[2016-09-15 07:00] #284 closed, assigned to dakala

[2016-09-15 07:01] #262 closed, assigned to nobody

[2016-09-15 07:17] #168 closed, assigned to nobody

[2016-09-15 07:18] #270 closed, assigned to nobody

[2016-09-16 00:38] krystalcode opened #313 "OG Roles are deleted when changing membership type"
In the Drupal 7 version of the module, the og_group function serves to not only create a membership but also change it. When the function is called with a different field defined than the one already used, the current membership is deleted and a new one is created. Responsible code within the og_group function:

[code]

The og_ungroup deletes the membership and the og_og_membership_delete hook del

[2016-09-16 00:41] krystalcode commented on #313
Figured out this should go to the Gizra repository https://github.com/Gizra/og/issues/182

[2016-09-16 00:41] #313 closed, assigned to nobody

[2016-09-25 13:53] swentel opened #314 "subscribe routes give a 404"
Any route subscribe link gives a 404 page in my setup (latest dev version from d.o).
Will debug a bit further, but it's a mystery for now.

[2016-09-25 15:21] swentel commented on #314
Ok, my bad - upgrading on an existing installation, always tricky, my default membership config entity and request fields didn't exist - indidivually importing them did the trick.

Sorry for the noise.

[2016-09-25 15:21] #314 closed, assigned to nobody

[2016-12-14 21:46] bunnyroo commented on #312
I agree. Some of the steps are no longer needed, others are missing like those in /config/group/. Any chance for updated instructions or is there a lot of change going on in the code we should wait for?

[2017-02-02 11:55] ArchieDoe opened #315 "UI functionality is scattered between OG UI and OG modules."
For example, group UI on node page (group tab) is rendered by OG module, when OG basic configs (like group type roles, permissions, etc.) are rendered by OG UI module.

Another reason is to avoid code duplication. For example, we have (or potentially have) 2 similar pages: roles overview on group type page and roles overview on specific group. To render this we basically need same code, but follow

[2017-02-02 11:56] ArchieDoe commented on #315
Also, decision on this part blocks me from finishing #196

[2017-02-02 11:57] amitaibu commented on #315
Since in D8 code is better lazy loaded then D7 I wouldn't mind moving UI stuff to OG core.

[2017-02-02 11:58] ArchieDoe commented on #315
Ok, so should we move OG UI into core then?

[2017-02-02 11:59] amitaibu commented on #315
I think we can do that. @pfrenssen agree?

[2017-02-02 13:38] ArchieDoe commented on #315
Yah, @amitaibu @pfrenssen, it might be a good idea to move it into main module.
For example this Gizra#231, which is also UI PR, done inside of main module

[2017-02-02 16:19] ArchieDoe commented on #208
Hey @amitaibu!

What's the status of this? Can I pick this up?
I'm really interested in getting this functionality ASAP 😄

[2017-02-02 17:28] amitaibu commented on #208
Sure, go ahead. The PR in https://github.com/amitaibu/og/pull/209 is stating the explore the possibilities to do that.

[2017-02-02 18:17] amitaibu commented on #315
Lets have a dedicated PR to do that.

[2017-02-03 08:09] pfrenssen commented on #315
Sounds good to me.

[2017-04-20 19:35] weitzman commented on #176
Not having this is a real bother for migration where we frequently rollback the creation of groups but the memberships stick around. Is there any reason why this should not be implemented?

[2017-04-20 19:52] amitaibu commented on #176
Should be implemented. Would love a PR down in https://github.com/Gizra/og :)

[2017-04-21 07:07] pfrenssen commented on #176
This was implemented in https://github.com/amitaibu/og/pull/179. If you want the memberships to be deleted immediately when the group is deleted, then set the deletion method to 'Simple' in `/admin/config/group/settings`. If this is left on the default setting the orphans will be deleted in a batch process which might not be triggered if you do a migration rollback.

Of course it is also possible

[2017-04-21 08:19] amitaibu commented on #176
Oh right, I completely forgot we had that in. Thanks!

[2017-07-21 07:07] pfrenssen commented on #176
This issue was about cleaning up memberships after deleting a group, but they also need to be cleaned up after deleting a user. PR for this in https://github.com/Gizra/og/pull/291

[2018-12-21 10:57] MPParsley commented on #68
@amitaibu, @pfrenssen could you close this issue?

In https://github.com/amitaibu/og/issues/315 it's decided to remove the og_ui module.

[2018-12-21 10:58] MPParsley commented on #315
@pfrenssen this issue could use a new title: "Remove OG UI module"

[2018-12-21 11:00] MPParsley commented on #315
See @amitaibu 's remark in https://github.com/Gizra/og/pull/243#issuecomment-396493779

[2018-12-23 12:41] #68 closed, assigned to nobody

[2019-10-15 13:40] damienmckenna opened #319 "Please update 8.x-1.x branch from Gizra/og"
Could you please update the 8.x-1.x branch from upstream, it's proving hard to use diffs from this repo's PRs because of the disconnect. Thank you.

[2019-10-15 14:15] amitaibu commented on #319
Thanks @damienmckenna for working on this. I've granted you commit access to the `amitaibu/og` repo :)

[2019-10-15 14:16] damienmckenna commented on #319
Thanks!

[2019-10-15 17:57] damienmckenna commented on #319
This has been handled by PR #320.

[2019-10-15 17:57] #319 closed, assigned to nobody

[2022-02-14 08:31] MPParsley commented on #222
Drupal core 9.3 now provides a generic access API for node and media revisions.
See https://www.drupal.org/project/drupal/issues/3043321

We should add revision permissions, see #736.